<ng-container *ngIf="{ progress: (progress$ | async) ?? 0 } as vm">
  <div class="imp-progress-bar">
    <div class="imp-progress-bar__progress">
      <div
        class="progress-left"
        [class.empty]="vm.progress === 0"
        [class.full]="vm.progress === 100"
        [style.width]="100 - vm.progress + '%'"
      ></div>
    </div>
    <div class="imp-progress-bar__label">
      <ng-container *ngIf="label; else progressTemplate">
        {{ label }}
      </ng-container>
      <ng-template #progressTemplate>
        {{ vm.progress | number: "1.0-2" }}%
      </ng-template>
    </div>
  </div>
</ng-container>
